<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.camilariscanevo.uevents"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>UEvents</name>

    <description>
      Esta aplicación te brindará ayuda para programarte con todos los eventos de Uniminuto.
    </description>

    <author href="https://build.phonegap.com" email="camila.riscanevo@gmail.com">
        Camila Riscanevo
    </author>
    <icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi.png" />
    <icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi.png" />
    <icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi.png" />
    <icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi.png" />

</widget>